{% block container %}
<canvas id="mixed-chart" width="400" height="400"></canvas></body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>



<script>
    var labels = {{ chart_module.labels | safe}};
    var datasets = [
        {% for submodule in chart_module.submodules %}
            {{ submodule.data | safe }},
        {% endfor %}
    ];

    console.log("Loaded " + datasets.length + " submodules");


    var data = {
        labels: labels,
        datasets: datasets
    };

    var options = {
        title: {
            display: false,
            text: 'Population growth (millions): Europe & Africa'
        },
        legend: { display: false },
        scales: {
            xAxes: [{
                stacked: true
            }]
        }
    };

    new Chart(document.getElementById("mixed-chart"), {
        type: 'bar',
        data: data,
        options: options
    });
</script>


{% endblock %}