{% extends 'base.html' %}
{% block container %}
{% for wallet in wallets  %}
<div class="row">
    <div class="container">
        {% set wallet_name = wallet['name'] %}
        {% set wallet_currency =wallet['currency'] %}
        {% set wallet_balance_amount =wallet['balance']['amount'] %}
        {% set wallet_balance_currency =wallet['balance']['currency'] %}
        {% set wallet_updated = wallet['updated_at'] %}
        {% set wallet_native_amount =wallet['native_balance'] ['amount']%}
        {% set wallet_native_currency =wallet['native_balance'] ['currency']%}
        {% set wallet_fetched =wallet['fetched'] %}
        {% set wallet_buy_price =wallet['buy_price'] %}
        {% set wallet_sell_price =wallet['sell_price'] %}
        {% set wallet_ex_BTC =wallet['exachange_rates']['BTC'] %}
        {% set wallet_ex_ETH =wallet['exachange_rates']['ETH'] %}
        {% set wallet_ex_GPB =wallet['exachange_rates']['GBP'] %}
        {% set wallet_ex_DAI =wallet['exachange_rates']['DAI'] %}
        {% set time_stamp =wallet['exachange_rates']['timestamp'] %}


        {% if wallet_balance_amount|int >= 0 %}

        <div class="alert alert-success">
            <div class="row">
                <div class="col">
                    <h1> <a
                            href="{{ url_for('wallet_endpoint', currency=wallet_currency, wallet_id=0) }}">{{ wallet_currency  }}</a>
                        Wallet</h1>
                </div>
                <div class="col">{{time_stamp}}</div>
            </div>
            <div class="row">
                <div class="col">
                    Wallet Amount
                </div>
                <div class="col">
                    {{ wallet_balance_amount }} {{ wallet_currency }}
                </div>
                <div class="col">
                    Wallet native amount
                </div>
                <div class="col">
                    {{ wallet_native_amount }} {{ wallet_native_currency}}
                </div>
            </div>
            <div class="row">
                <div class="col"> Coin buy price
                </div>
                <div class="col">
                    {{ wallet_buy_price}}
                </div>
                <div class="col"> Coin sell price
                </div>
                <div class="col">
                    {{ wallet_sell_price}}
                </div>
            </div>
            <!-- TODO: Add scrolling sideways effect -->
            <div class="row">
                {% for wc in wallet['exachange_rates']  %}
                {% if wc != wallet_currency%}
                {% if wc != 'timestamp'%}
                <div class="col">
                    {{ wc }} - {{ wallet['exachange_rates'][wc]  }}
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}


        <canvas id="mixed-chart" width="400" height="400"></canvas>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script>new Chart(document.getElementById("mixed-chart"), {
        type: 'bar',
        data: {
            labels: ["1900", "1950", "1999", "2050"],
            datasets: [{
                label: "Europe",
                type: "line",
                borderColor: "#8e5ea2",
                data: [408, 547, 675, 734],
                fill: false
            }, {
                label: "Africa",
                type: "line",
                borderColor: "#3e95cd",
                data: [133, 221, 783, 2478],
                fill: false
            }, {
                label: "Europe",
                type: "bar",
                backgroundColor: "rgba(0,0,0,0.2)",
                data: [408, 547, 675, 734],
            }, {
                label: "Africa",
                type: "bar",
                backgroundColor: "rgba(0,0,0,0.2)",
                backgroundColorHover: "#3e95cd",
                data: [133, 221, 783, 2478]
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Population growth (millions): Europe & Africa'
            },
            legend: { display: false }
        }
    });</script>
{% endfor %}
{% endblock %}